<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <%if (false) {%>
      <footer>
        <% include ../partials/header %>
      </footer>
    <%} %>
    <main>
      <div class="jumbotron">
        <span class="glyphicon glyphicon-thumbs-up"></span>
      </div>
      <div id="game"></div>
      <div id="messages"></div>
    </main>
    <%if (false) {%>
      <footer>
        <% include ../partials/footer %>
      </footer>
    <%} %>
    <script src="main.js"></script>
    <script src="utils.js"></script>
    <script src="settings.js"></script>
  </body>
</html>
