<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <canvas id="game" width="400" height="300px" style="width: 400px; height: 300px;"></canvas>
    <script src="client.js"></script>
    <script src="core.js"></script>
    <script src="settings.js"></script>
    <script src="utils.js"></script>
  </body>
</html>
